################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/bin/
obj
packages
/.vs
/ConceptsExample/bin/
/ConceptsExample/bin/Debug/net6.0/ConceptsExample.deps.json
